@tailwind base;
@tailwind components;
@tailwind utilities;

/* تنظیمات فونت وزیرمتن */
@layer base {
  html {
    font-family: 'Vazirmatn', system-ui, sans-serif;
  }
}

/* اسکرول‌بار سفارشی */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #d1d5db; 
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-track {
  background: #1f1f1f;
}
.dark ::-webkit-scrollbar-thumb {
  background: #424242; 
}
::-webkit-scrollbar-thumb:hover {
  background: #c58f60; 
}